<div id="dsa_portal_calc">
    <div class="container is-mobile">
    <form>
        <div class="columns is-multiline is-centered">
            <div class="column is-primary is-full is-centered">
                <div class="title has-text-centered">{{ labels["dsa.portal.tool.calc.name"] }}</div> 
                <div class="has-text-centered is-size-4"><b>{{ calcTaw() }}</b>&nbsp;{{labels["dsa.portal.tool.calc.ap"]}}</div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">{{ labels["dsa.portal.tool.calc.talent"] }}</label>
                
                    <div class="control select">
                        <select @change="selectTalent" class="input" v-model="selected.talent" name="tawtalent">
                            <option value="-1" disabled selected>{{labels['dsa.portal.tool.calc.choosetalent']}}</option>
                            <option v-for="(talent, index) in talents" v-bind:value="index">
                                    {{ talent.getAttribute('name') }}
                            </option>
                        </select>
                    </div>
                  
                </div>
            </div>
            <div class="column">
                <div class="field">
                 
                    <label class="label">{{ labels["dsa.portal.tool.calc.column"] }}</label>
                   
                    <div class="control">
                        <select @change="selectCategory" class="input" v-model="selected.col" name="tawcol">
                            <option v-for="(tawcol, index) in tawcols" v-bind:value="index">
                                    {{ tawcol }}
                            </option>
                        </select>
                    </div>
                  
                </div>
            </div>
            <div class="column">
                <div class="field">
         
                    <label class="label">{{ labels["dsa.portal.tool.calc.from"] }}</label>
                
                    
                    <div class="control">
                        <input class="input" v-model="selected.min" type="number" name="tawmin" v-bind:min="taw.min" v-bind:max="taw.max" />
                    </div>
                
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">{{ labels["dsa.portal.tool.calc.to"] }}</label>
                    
                    <div class="control">
                        <input class="input" v-model="selected.max" type="number" name="tawmax" v-bind:min="taw.min" v-bind:max="taw.max" />
                    </div>
                   
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">&nbsp;</label>
                    
                    <div class="control">
                        <a class="button" @click="addNotepadItem" >{{ labels["dsa.portal.tool.calc.addnotepad"] }}</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </form>
    </div>

    <div class="toolnav">
            <div id="toolnav" class="dropdown is-up is-right">
                <div class="dropdown-trigger">
                    <button id="toolnavbtn" class="button is-rounded is-link" aria-haspopup="true" aria-controls="dropdown-menu2">
                    <span>+</span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                    <div class="dropdown-content is-size-7-mobile is-marginless is-paddingless">
                        <div class="dropdown-item">
                            <p class="panel-heading">
                                {{ labels["dsa.portal.tool.calc.notepad"] }}
                            </p>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="dropdown-item notepadbody is-paddingless is-marginless">
                            <div class="panel-block">
                                <table class="table is-hoverable">
                                    <thead>
                                        <th></th>
                                        <th><abbr :title="labels['dsa.portal.tool.lexicon.result.name']">{{labels['dsa.portal.tool.lexicon.result.name']}}</abbr></th>
                                        <th><abbr :title="labels['dsa.portal.tool.calc.from']">{{labels['dsa.portal.tool.calc.from']}}</abbr></th>
                                        <th><abbr :title="labels['dsa.portal.tool.calc.to']">{{labels['dsa.portal.tool.calc.to']}}</abbr></th>
                                        <th>{{labels["dsa.portal.tool.calc.ap"]}}</th>
                                    </thead>
                                    <tfoot>
                                        <th></th>
                                        <th><abbr :title="labels['dsa.portal.tool.lexicon.result.name']">{{labels['dsa.portal.tool.lexicon.result.name']}}</abbr></th>
                                        <th><abbr :title="labels['dsa.portal.tool.calc.from']">{{labels['dsa.portal.tool.calc.from']}}</abbr></th>
                                        <th><abbr :title="labels['dsa.portal.tool.calc.to']">{{labels['dsa.portal.tool.calc.to']}}</abbr></th>
                                        <th>{{labels["dsa.portal.tool.calc.ap"]}}</th>
                                    </tfoot>
                                    <tbody>
                                        <tr v-for="(item, index) in notepad">
                                            <th><button @click="removeNotepadItem(index)" class="button is-small">-</button></th>
                                            <td :data-index="index"><a :data-index="index" >
                                                <template v-if="item.talent === -1 ">
                                                    {{ tawcols[item.col] }}
                                                </template>
                                                <template v-else>
                                                    {{ talents[item.talent].getAttribute('name') }}&nbsp;({{ talents[item.talent].getAttribute('inc') }})
                                                </template>
                                            </td>
                                            <td>
                                                <input value="23" class="input notepadnumber is-small" v-model="item.min" type="number" name="tawmin" v-bind:min="taw.min" v-bind:max="taw.max" size="3" />
                                            </td>
                                            <td>
                                                <input value="23" class="input notepadnumber is-small" v-model="item.max" type="number" name="tawmin" v-bind:min="taw.min" v-bind:max="taw.max" size="3" />
                                            </td>
                                            <td><b>{{ calcItem(item) }}</b></td> 
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="dropdown-item notepadbody">
                            <span>{{ labels["dsa.portal.tool.calc.summary"] }}:</span>
                            <b>{{ notepadSummary() }}</b>&nbsp;{{labels["dsa.portal.tool.calc.ap"]}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
