<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title></title>

    <link type="text/css" rel="stylesheet" href="css/bulma.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/portal.css"/>
</head>
<body >

<div id="dsa_portal" >
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <i class="ion-md-heart"><b>{{ labels['dsa.portal.headline'] }}</b></i>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        {{ labels['dsa.portal.tools'] }}
                    </a>
                    <div class="navbar-dropdown">
                        
                        <a @click="open(tool.id)" class="navbar-item" v-for="tool in tools" v-if="tool.enabled">
                            {{ labels[tool.name] }}
                        </a>

                    </div>
                </div>
            </div>
        </div>
    
    </nav>

    <div id="content"></div>

</div>

<script type="application/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="application/javascript" src="js/base64js.min.js" ></script>
<script type="application/javascript" src="js/resource.js" ></script>
<script type="application/javascript" src="js/vue-2.6.9.js"></script>
<script type="application/javascript" src="js/tools.js"></script>
<script type="application/javascript" src="js/start.js"></script>
<script type="application/javascript" src="js/calc_vue.js"></script>
<script type="application/javascript" src="js/lexicon_vue.js" ></script>
<script type="application/javascript" src="js/hgen_vue.js" ></script>
</body>
</html>